<?xml version="1.0" encoding="UTF-8" ?>

<beans>
    <bean class="com.wlx.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>
    <bean class="com.wlx.springframework.test.bean.ActivityService">
        <property name="token" value="${token}"/>
    </bean>
</beans>